<div class="add-ride">
  <form [formGroup]="addRideForm">
    <h2 mat-dialog-title>New Ride</h2>
    <mat-dialog-content layout="column">
      <mat-form-field flex>
        <input matInput #input id="destinationField" placeholder="Destination" [(ngModel)]="data.ride.destination" formControlName="destination"
               required>
        <mat-error *ngFor="let validation of add_ride_validation_messages.destination">
          <mat-error class="error-message" id="destination-error"
                     *ngIf="addRideForm.get('destination').hasError(validation.type) && (addRideForm.get('destination').dirty || addRideForm.get('destination').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field id="ownerField" flex>
        <mat-label>Owner</mat-label>
        <mat-select id="owner" [(ngModel)]="data.ride.ownerId" formControlName="ownerId">
          <mat-option *ngFor="let user of data.users" value="{{user._id['$oid']}}">
            {{user.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of add_ride_validation_messages.ownerId">
          <mat-error class="error-message" id="owner-error"
                     *ngIf="addRideForm.get('ownerId').hasError(validation.type) && (addRideForm.get('ownerId').dirty || addRideForm.get('ownerId').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
        <input matInput #input id="originField" placeholder="Origin" [(ngModel)]="data.ride.origin" formControlName="origin"
               required>
        <mat-error *ngFor="let validation of add_ride_validation_messages.origin">
          <mat-error class="error-message" id="origin-error"
                     *ngIf="addRideForm.get('origin').hasError(validation.type) && (addRideForm.get('origin').dirty || addRideForm.get('origin').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput #input id="dateField" [matDatepicker]="myDatepicker" placeholder="Date of Departure" [(ngModel)]="data.ride.departureDate" formControlName="departureDate" required>
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error *ngFor="let validation of add_ride_validation_messages.departureDate">
          <mat-error class="error-message" id="departureDate-error"
                     *ngIf="addRideForm.get('departureDate').hasError(validation.type) && (addRideForm.get('departureDate').dirty || addRideForm.get('departureDate').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="time" matInput #input id="timeField" placeholder="Time of Departure"
               [(ngModel)]="data.ride.departureTime" formControlName="departureTime">
      </mat-form-field>

      <!--<mat-form-field flex>-->
        <!--<input matInput #input id="departureTimeField" placeholder="Departure Time" [(ngModel)]="data.ride.departureTime" formControlName="departureTime"-->
               <!--required>-->
        <!--<mat-error *ngFor="let validation of add_ride_validation_messages.departureTime">-->
          <!--<mat-error class="error-message" id="departureTime-error"-->
                     <!--*ngIf="addRideForm.get('departureTime').hasError(validation.type) && (addRideForm.get('departureTime').dirty || addRideForm.get('departureTime').touched)">-->
            <!--{{validation.message}}-->
          <!--</mat-error>-->
        <!--</mat-error>-->
      <!--</mat-form-field>-->
      <mat-form-field flex>
        <input matInput #input id="mpgField" placeholder="Miles Per Gallon" [(ngModel)]="data.ride.mpg" formControlName="mpg">
        <mat-error *ngFor="let validation of add_ride_validation_messages.mpg">
          <mat-error class="error-message" id="mpg-error"
                     *ngIf="addRideForm.get('mpg').hasError(validation.type) && (addRideForm.get('mpg').dirty || addRideForm.get('mpg').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
        <input matInput #input id="notesField" placeholder="Notes" [(ngModel)]="data.ride.notes" formControlName="notes"
               >
        <mat-error *ngFor="let validation of add_ride_validation_messages.notes">
          <mat-error class="error-message" id="notes-error"
                     *ngIf="addRideForm.get('notes').hasError(validation.type) && (addRideForm.get('notes').dirty || addRideForm.get('notes').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <div>
        <mat-checkbox id="roundTripCheckBox" name ="roundTripStatus" ngDefaultControl [(ngModel)]="data.ride.roundTrip" [ngModelOptions]="{standalone: true}" >Round Trip</mat-checkbox>
        <mat-checkbox name ="drivingStatus" ngDefaultControl [(ngModel)]="data.ride.driving" [ngModelOptions]="{standalone: true}" >Driving</mat-checkbox>
      </div>




    </mat-dialog-content>
    <mat-dialog-actions layout="row">
      <button mat-raised-button id="confirmAddRideButton" [mat-dialog-close]="data.ride" type="button" color="primary"
              [disabled]="!addRideForm.valid">Add Ride
      </button>
      <button mat-raised-button id="exitWithoutAddingButton" [mat-dialog-close]="null" type="button">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>

