<div>
  <button id="addNewRide" mat-raised-button (click)="openAddDialog()"> <mat-icon id="plus">add</mat-icon> Add New Ride</button>
</div>

<div id="wrapper">
<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="ride-list-title">Available Listings</mat-card-title>
    </mat-card>

    <mat-card id="filterLocation">
      <mat-card-content>
        <mat-form-field color="accent">
         <input matInput id="rideDestination" #input placeholder="Filter by Destination"
                (input)="rideDestination = $event.target.value">
        </mat-form-field>
        <br/>

        <mat-radio-group class="radioGroup" [(ngModel)] = "rideDriving">
          Search for rides that have...
          <br/><mat-radio-button id="isDriving" [value] = "true"> <mat-icon style="color:#34C234"> drive_eta</mat-icon> </mat-radio-button> Drivers &nbsp;
          <br/><mat-radio-button id="isNotDriving" [value] = "false"> <mat-icon style="color: #6EB5FF"> airline_seat_recline_extra </mat-icon> </mat-radio-button> Riders &nbsp;
          <br/><mat-radio-button id="isEither" [value] = "null"> Riders and Drivers </mat-radio-button>
        </mat-radio-group>

        <br/>
        <br/>

        <button class="filterButton" mat-raised-button id="submit" #input type="button" (click)="loadService()">
          Filter by driving / riding
        </button>

      </mat-card-content>
    </mat-card>

    <mat-card id="listContainer">
      <mat-card-content *ngFor="let ride of this.filterRides(rideDestination)">
        <mat-card class="postCard" multi="true" *ngIf="rides; else ridesError" [id]="ride._id.$oid" [ngSwitch]="ride.driving">
          <mat-card-title *ngSwitchDefault [id]="ride.destination">
            <mat-icon style="color: #34C234"> drive_eta </mat-icon> &nbsp; {{ride.origin}}  <mat-icon style="color: #34C234">play_arrow</mat-icon>  {{ride.destination}}
            <br/>
            <div *ngIf="ride.roundTrip"><mat-icon style="color: #34C234">swap_horiz</mat-icon> &nbsp; Round trip</div>
          </mat-card-title>
          <mat-card-title *ngSwitchCase=false [id]="ride.destination">
            <mat-icon style="color: #6EB5FF"> airline_seat_recline_extra </mat-icon> &nbsp; {{ride.origin}}  <mat-icon style="color: #6EB5FF">play_arrow</mat-icon>  {{ride.destination}}
            <br/>
            <div *ngIf="ride.roundTrip"><mat-icon style="color: #6EB5FF">swap_horiz</mat-icon> &nbsp; Round trip</div>
          </mat-card-title>

          <mat-divider></mat-divider>

          <mat-card-content>
            <div *ngIf="ride.ownerData">
              <div>Owner: {{ride.ownerData.name}}</div>
              <!--<div *ngIf="ride.ownerData.phoneNumber">Phone Number: {{ride.ownerData.phoneNumber}}</div>-->
              <!--<div *ngIf="ride.ownerData.email">Email: {{ride.ownerData.email}}</div>-->
            </div>

            <div *ngIf="!ride.ownerData">
              <mat-panel-description>Owner data not found</mat-panel-description>
            </div>

            <br/> Departure Date: {{ride.departureDate | date}}
            <br/> Departure Time: {{ride.departureTime}}
            <!--<br/> Pickup at: {{ride.origin}}-->
            <br/> MPG: {{ride.mpg}}
            <br/>
            <br/>Notes: {{ride.notes}}

            <br/>
            <br/>

            <div id="buttonContainer">
              <a mat-raised-button id="goToUser"
                      routerLink="users/{{ride.ownerData._id.$oid}}">
                User Information
              </a>
              <button id="deleteRide" mat-raised-button
                      (click)="openDeleteDialog(ride._id.$oid)">
                Delete Ride
              </button>
              <button id="editRide" mat-raised-button
                      (click)="openEditDialog(ride._id.$oid, ride.driver, ride.destination, ride.origin, ride.roundTrip, ride.driving, ride.departureDate, ride.departureTime, ride.mpg, ride.notes)">
                Edit Ride
              </button>
            </div>

          </mat-card-content>
        </mat-card>

        <ng-template #ridesError>
          <mat-error>
            There was a problem loading the rides. Possibly the server is down or perhaps there are network issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
