#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ride-list-title {
  background: #7a0019 linear-gradient(#000000, #7a0019);
  text-align: center;
  color: #F5F5F5;
  font-family: "Arial Black", sans-serif;
  padding-bottom: 10px;
}

#availableListings {
  background: #7a0019;
}

#filterLocation {
  background: black;
  margin: 0;
}

.mat-card-content.mat-card-content.ng-star-inserted {
  margin: 0;
}

.mat-form-field {
  font-family: "Verdana", sans-serif;
  color: #F5F5F5;
}

.radioGroup {
  color: #F5F5F5;
}

#listContainer {
  color: #000000;
}

.mat-card {
  background-color: #ffc107;
  color: #ffffff;
}

.mat-card .postCard {
  background-color: #2e2e2e;
  margin: 0;
  font-family: "Verdana", sans-serif;
}

.mat-card .postCard .mat-card-title {
  background: #7a0019;
  padding: 16px;
  margin: 0;
  font-family: "Arial Black", sans-serif;
}


#addNewRide {
  background-color: #7a0019;
  font-family: "Verdana", sans-serif;
  margin-left: 45%;
  border-radius: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#addNewRide:hover {
  background-color: #ffc107;
  color: #000000;
}

#goToUser {
  background-color: white;
  color: #7a0019;
}

#goToUser:hover {
  background-color: #ffc107;
  color: #000000;
}

#editRide {
  background-color: white;
  color: #7a0019;
  float: right;
}

#editRide:hover {
  background-color: #ffc107;
  color: #000000;
}

#deleteRide{
  background-color: #7a0019;
  color: white;
  float: right;
  margin-left: 15px;
}

#deleteRide:hover {
  background-color: red;
  color: white;
  transform: scale(1.2);
  font-weight: bold;
}

#submit {
  color: #ffffff;
  background: #7a0019;
}

#submit:hover {
  color: #000000;
  background: #ffc107;
}
