.mat-card .mat-card-title {
  text-align: center;
  font-family: "Arial Black", sans-serif;
}

.mat-card {
  text-align: center;
}

#signIn{
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
}

button {
  margin: 5px;
  background-color: white;
  color: #7a0019;
}

button:hover {
  background-color: #ffc107;
  color: #000000;
}
