<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="MoRide">{{ this.text }}</mat-card-title>
      <mat-card-subtitle>Welcome to MoRide! The Morris community car-pooling application</mat-card-subtitle>
      <button (click)="auth.signIn()">
        <input type="image" [src]="buttonSource1">
      </button>
      <!--style="background: url(myimage.png)"-->
      <button (click)="auth.signOut()">sign out of google :(</button>
      <button (click)="auth.checkUser()">Check the google status uwu</button>
      <mat-divider></mat-divider>
      <mat-card-content>
        Helping people carpool since 2019!
      </mat-card-content>
    </mat-card>
  </div>
</div>
