<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">

    <mat-card #elem *ngIf="user" [id]="user._id.$oid">
      <mat-card-title [id]="user.name">
        {{user.name}}'s Profile
        <button *ngIf="loggedId === user.userId" mat-raised-button id="editProfile" #input type="button"
                (click)="editUserDialog(user._id.$oid, user.name, user.bio, user.email, user.phoneNumber, user.totalReviewScore, user.numReviews, user.avgScore)">
          Edit Profile
        </button>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="cardInner">
          <div class="boxes" id="nameBox"[style.grid-area]="'name'">
            My name is {{user.name}}
            <br/> <br/>
            Description:
            <br/>
            {{user.bio}}
            <hr/>
          </div>
          <div class="boxes" id="contactInfoBox" [style.grid-area]="'contactInfo'">
            <h3>Contact Info:</h3>
            <span *ngIf="user.phoneNumber">
              - Phone: {{user.phoneNumber}}
            </span>
            <br/>
            - Email: {{user.email}}
            <hr/>
          </div>

          <div class="boxes" id="ratingBox" [style.grid-area]="'rating'">
            <div id="label"> This user's average rating out of 5 stars: </div>
            <br/> <br/>
            <div id="starRating">
              <span class="star" *ngIf="user.avgScore >=  .5"><mat-icon id="starID1">star_rate</mat-icon></span>
              <span class="star" *ngIf="user.avgScore >= 1.5"><mat-icon id="starID2">star_rate</mat-icon></span>
              <span class="star" *ngIf="user.avgScore >= 2.5"><mat-icon id="starID3">star_rate</mat-icon></span>
              <span class="star" *ngIf="user.avgScore >= 3.5"><mat-icon id="starID4">star_rate</mat-icon></span>
              <span class="star" *ngIf="user.avgScore >= 4.5"><mat-icon id="starID5">star_rate</mat-icon></span>
            </div>
          </div>
          <div class="boxes" id="ReviewBox" [style.grid-area]="'review'">
            <mat-form-field>
              <mat-label>Leave a Rating</mat-label>
              <mat-select id="ratingSelect" [(value)]="rating">
                <mat-option value=1>One Star - Worst</mat-option>
                <mat-option value=2>Two Stars </mat-option>
                <mat-option value=3>Three Stars </mat-option>
                <mat-option value=4>Four Stars </mat-option>
                <mat-option value=5>Five Stars - Best</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button id="addRatingButton" #input type="button"
                    (click)="editUserReviewDialog(user._id.$oid, user.name, user.bio, user.email, user.phoneNumber, user.totalReviewScore, user.numReviews, user.avgScore, rating)">
              Submit Rating
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card id="listContainer">
      <mat-card-content *ngFor="let ride of rides">
        <mat-card class="postCard" multi="true" *ngIf="rides; else ridesError" [id]="ride._id.$oid" [ngSwitch]="ride.driving">
          <mat-card-title *ngSwitchDefault [id]="ride.destination">
            <mat-icon style="color: #34C234"> drive_eta </mat-icon> &nbsp; {{ride.origin}}  <mat-icon style="color: #34C234">play_arrow</mat-icon>  {{ride.destination}}
            <br/>
            <div *ngIf="ride.roundTrip"><mat-icon style="color: #34C234">swap_horiz</mat-icon> &nbsp; Round trip</div>
            <div class="seats-left">
              <small *ngIf="ride.numSeats === 1"> {{ride.numSeats}} SEAT LEFT </small>
              <small *ngIf="ride.numSeats > 1"> {{ride.numSeats}} SEATS LEFT </small>
            </div>
          </mat-card-title>
          <mat-card-title *ngSwitchCase=false [id]="ride.destination">
            <mat-icon style="color: #6EB5FF"> airline_seat_recline_extra </mat-icon> &nbsp; {{ride.origin}}  <mat-icon style="color: #6EB5FF">play_arrow</mat-icon>  {{ride.destination}}
            <br/>
            <div *ngIf="ride.roundTrip"><mat-icon style="color: #6EB5FF">swap_horiz</mat-icon> &nbsp; Round trip</div>
            <div class="seats-left">
              <small *ngIf="ride.numSeats === 1"> {{ride.numSeats}} SEAT LEFT </small>
              <small *ngIf="ride.numSeats > 1"> {{ride.numSeats}} SEATS LEFT </small>
            </div>
          </mat-card-title>

          <mat-divider></mat-divider>

          <mat-card-content>

            <br/> Departure Date: {{ride.departureDate | date}}
            <br/> Departure Time: {{ride.departureTime}}
            <br/> RiderList: {{ride.riderList}}
            <br/> MPG: {{ride.mpg}}
            <br/>
            <br/>Notes: {{ride.notes}}

            <br/>
            <br/>

          </mat-card-content>
        </mat-card>

        <ng-template #ridesError>
          <mat-error>
            There was a problem loading the rides. Possibly the server is down or perhaps there are network issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
