<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-form-field>
      <mat-label>Select User Profile</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let user of users" [value]="user._id.$oid">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card #elem [id]="user._id.$oid" *ngFor="let user of this.filterUsers(selected)">
      <mat-card-title id="user-list-title">{{user.name}}'s Profile</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="cardInner">
          <div class="boxes" id="nameBox"[style.grid-area]="'name'">
            My name is {{user.name}}
            <br/> <br/>
            BIO - Optional for the future
            <hr>
          </div>
          <div class="boxes" id="contactInfoBox" [style.grid-area]="'contactInfo'">
            <h3>Contact Info:</h3>
            - Phone: {{user.phoneNumber}}
            <br>
            - Email: {{user.email}}
            <hr>
          </div>
          <div class="boxes" id="RatingBox" [style.grid-area]="'rating'">
            <div id="label"> This user's average rating: </div>
            <br>
            <div id="starRating">
              <div class="star" *ngIf="(user.reviewScore/user.numReviews) >=  .5"><mat-icon>star_rate</mat-icon></div>
              <div class="star" *ngIf="(user.reviewScore/user.numReviews) >= 1.5"><mat-icon>star_rate</mat-icon></div>
              <div class="star" *ngIf="(user.reviewScore/user.numReviews) >= 2.5"><mat-icon>star_rate</mat-icon></div>
              <div class="star" *ngIf="(user.reviewScore/user.numReviews) >= 3.5"><mat-icon>star_rate</mat-icon></div>
              <div class="star" *ngIf="(user.reviewScore/user.numReviews) >= 4.5"><mat-icon>star_rate</mat-icon></div>
            </div>
          </div>
          <div class="boxes" id="ReviewBox" [style.grid-area]="'review'">
            <mat-form-field>
              <mat-label>Leave a Rating</mat-label>
              <mat-select [(value)]="rating">
                <mat-option value=1>One Star - Worst</mat-option>
                <mat-option value=2>Two Stars </mat-option>
                <mat-option value=3>Three Stars </mat-option>
                <mat-option value=4>Four Stars </mat-option>
                <mat-option value=5>Five Stars - Best</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button id="addRatingButton" #input type="button" (click)="editUserReviewDialog(user._id.$oid, user.name, user.email, user.phoneNumber, user.reviewScore, rating, user.numReviews)">
              Submit Rating
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
