#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

img {
  border: 2px solid gold;
  max-width: 100%;
  height: auto;
  float:left;
}

.cardInner {
  display: grid;
  grid-template-areas: "name name" "contactInfo contactInfo" "rating review";
  grid-template-rows: auto auto auto;
  grid-template-columns: 55% 45%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.boxes {
  word-wrap: break-word;
  max-width: 100%;
}

.picBoxes {
  max-width: 100%;
}

.mat-card .mat-card-title {
  font-family: "Arial Black", sans-serif;
}

.mat-card {
  font-family: "Verdana", sans-serif;
}

.star {
  display: flex;
  flex-direction: row;
  float: left;
}
